<section class="header hero is-medium {{include.headerClass}}">
  <div class="hero-head">
    {% include header.html %}
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle is-size-2-desktop is-size-3-touch">
        {{ site.data.translations.home.subtitle[page.lang] }}
      </h2>

      <p class="button-in-text has-text-centered">
        <a href="{{ '/news' | prepend: page.lang | relative_url }}"
          class="button is-primary is-rounded is-medium">{{ site.data.translations.home.news-title[page.lang] }}</a>
      </p>

    </div>
  </div>
</section>
<section class="section is-medium bg-blue-100">
  <div class="container content is-size-5">
    <h2 class="title is-2"></h2>
    <div class="columns">
      <div class="column">
        {% capture pp10043_text %}{% include pages/texts/{{ page.lang }}/home/pp10043.md %}{% endcapture %}
        {{ pp10043_text | markdownify }}
        <p class="button-in-text has-text-centered">
          <a href="{{ '/principles' | prepend: page.lang | relative_url }}"
            class="button is-primary is-rounded is-medium">{{ site.data.translations.home.principles-button[page.lang] }}</a>
        </p>
      </div>
      <div class="column is-5 is-hidden-touch">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/devices.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium principles-section">
  <div class="container content is-size-5">
    <div class="columns">
      <div class="column is-5 is-hidden-touch">
        <div class="duotone is-full-height">
          <img alt="" src="{{site.baseurl}}/assets/images/united.jpg" />
        </div>
      </div>
      <div class="column">
        {% capture intention_text %}{% include pages/texts/{{ page.lang }}/home/intention.md %}{% endcapture %}
        {{ intention_text | markdownify }}
        <p class="button-in-text has-text-centered">
          <a href="{{ '/support' | prepend: page.lang | relative_url }}"
            class="button is-primary is-rounded is-medium">{{ site.data.translations.global.support[page.lang] }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
