<section class="section is-small">
  <div class="container content is-size-5">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        {% capture supporters_text %}{% include pages/texts/{{ page.lang }}/supporters.md %}{% endcapture %}
        {{ supporters_text | markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="section {% if include.spacing %}{{ include.spacing }}{% else %}is-medium{% endif %} {{ include.bg-color }}">
  <div class="container content is-size-5 has-text-centered">
    <h3 class="title is-4">{{ site.data.translations.global.all-can-support[page.lang] }}</h3>
    <p>
      <a href="{{ '/support' | prepend: page.lang | relative_url }}"
        class="button is-primary is-rounded is-large">{{ site.data.translations.global.support[page.lang] }}</a>
    </p>
  </div>
</section>
