<div class="container">
  <div class="page-title">
    <h1>{{ site.data.translations.support.title[page.lang] }}</h1>
  </div>
</div>

<section class="section is-medium bg-blue-500">
  <div class="container">
    <div class="columns">
      <div class="column content">
        {% capture support_text %}{% include pages/texts/{{ page.lang }}/support/intro.md %}{% endcapture %}
        {{ support_text | markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="section is-medium principles-section">
  <div class="container content is-size-5">
    <div class="columns">
      <div class="column">
        {% capture joinus_text %}{% include pages/texts/{{ page.lang }}/support/joinus.md %}{% endcapture %}
        {{ joinus_text | markdownify }}
      </div>
    </div>
  </div>
</section>